<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gioca schedina</title>
    <script th:inline="javascript">
            function sendBets() {
                const matchday = [[${matchday}]]
                const table = document.querySelectorAll('#bets-body tr');
                let bets = [];

                table.forEach(row => {
                    const matchId = row.dataset.matchId;
                    const prediction = parseInt(row.querySelector('input').value);
                    bets.push({ matchId: matchId, prediction: prediction });
                });

                fetch('/play', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ matchday: matchday, bets: bets })
                })
                    .then(response => {
                        if(!response.ok) {
                            throw Error("Schedina già inviata oggi!")
                        } else {
                            return response.json()
                        }
                    })
                    .then(betresult => {
                        document.getElementById('result').innerText = "Schedina inviata! Punteggio: " + betresult.score;
                        addResults()
                    })
                    .catch((err) => alert(err.message));
            }

        function addResults() {
            fetch('http://localhost:8085/api/results?matchday=' + [[${matchday}]], {
                    method: "GET",
                    headers: { 'Content-Type': 'application/json' }
                })
                .then(response => response.json())
                .then(results => {
                    const headers = document.querySelector('#bets-headers')
                    const resultsHeader = document.createElement('th');
                    resultsHeader.textContent = "Risultati";
                    headers.appendChild(resultsHeader)

                    const table = document.querySelectorAll('#bets-body tr');
                    table.forEach(row => {
                        const matchId = row.dataset.matchId;
                        const cell = document.createElement('td');
                        cell.innerText = results[matchId];
                        row.appendChild(cell);
                    });
                });
        }
    </script>
</head>
<body>
    <div th:replace="~{fragments/navbar.html :: navbar}"></div>
    <h1>Gioca schedina</h1>

    <p>Oggi è la giornata <span th:text="${matchday}"></span> del torneo</p>

    <table>
        <thead>
            <tr id="bets-headers">
                <th>Casa</th>
                <th>Ospite</th>
                <th>Pronostico</th>
            </tr>
        </thead>
        <tbody id="bets-body">
            <tr th:each="m : ${matches}" th:data-match-id="${m.getMatchId()}">
                <td th:text="${m.getHome().getName()}">Casa</td>
                <td th:text="${m.getAway().getName()}">Ospite</td>
                <td><input type="text" maxlength="1" /></td>
            </tr>
        </tbody>
    </table>

    <button onclick="sendBets()">Gioca schedina</button>

    <p id="result"></p>

    <div th:replace="~{fragments/news.html :: news}"></div>
</body>
</html>